*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 12px Arial, Helvetica, sans-serif;
    background: #B5C18E;
}


.clock{
    border: 1px solid #606060;
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-color: #153448;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#Date{
    font-size: 100px in !important;
    text-align: center;
}

.clock ul{
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
    50%  { transform: translate(0, -15px); }
    0%   { transform: translate(0, 0px); }    
}